* {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: #d3d3d3;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 12px;
}

.nav-link.active {
  font-weight: normal;
}

.nav-item.active {
  font-weight: normal;
}

#scatter {
  background-color: #f8f9fa;
  padding: 10px;  
  margin-left: auto;
  margin-right: auto;
}

.chart {
  background-color: #f8f9fa;
  padding: 10px;  
  margin-left: auto;
  margin-right: auto;
}

span + span {
    margin-left: 10px;
}